{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <link type="image/png" sizes="16x16" rel="icon" href=" {% static 'pools/img/logo.ico' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audit Firm</title>
    <link rel="stylesheet" href="{% static 'pools/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'pools/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>
  <body>

    <!--=======Scroll to top button=======-->
    <div class="scrollToTop-btn flex-center">
      <i class="fas fa-arrow-up"></i>
    </div>

    <!--=======Light/Dark theme button=======-->
    <div class="theme-btn flex-center">
      <i class="fas fa-moon"></i>
      <i class="fas fa-sun"></i>
    </div>


    <!--=======Skills section=======-->
    <section class="skills section" id="skills">
      <div class="container flex-center">
        <h1 class="section-title-01">О нас</h1>
        <h2 class="section-title-02">О нас</h2>
        <div class="contant">

          <div class="skills-info education-all">
            <div class="education">
              <h4><label>ЦИФРЫ</label></h4>
              <ul class="edu-list">
                <li class="item">

                  <p> <span> 15 </span> </p>
                  <p> <span> место RAEX  </span> </p>
                </li>
                <li class="item">

                  <p> <span>700+ </span> </p>
                  <p> <span>ежегодных проверок  </span> </p>
                </li>
                <li class="item">

                  <p> <span>96%</span> </p>
                  <p> <span>клиентов</span> </p>
                </li>
                 <li class="item">

                  <p> <span> 9 из 10 </span> </p>
                   <p> <span> компаний </span> </p>
                </li>



              </ul>
            </div>
            <div class="education">
              <h4><label>ФАКТЫ</label></h4>
              <ul class="bars">
                <li class="bar">
                  <div class="info">
                    <span>«Audit Firm» среди аудиторских групп и компаний</span>

                  </div>

                </li>
                <li class="bar">
                  <div class="info">
                    <span>+ собственные инновации: матрица аудита рисков и резервов</span>

                  </div>

                </li>
                <li class="bar">
                  <div class="info">
                    <span>очень довольны и рекомендуют нас друзьям</span>

                  </div>

                </li>
                <li class="bar">
                  <div class="info">
                    <span> повторно заказывают у нас аудиторские услуги</span>

                  </div>



                </li>
              </ul>
            </div>

        </div>
      </div>

    </section>


    <!--=======External scripts=======-->
    <script src="{% static 'pools/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'pools/js/main.js' %}"></script>

  </body>
</html>

