{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <link type="image/png" sizes="16x16" rel="icon" href=" {% static 'pools/img/logo.ico' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audit Firm</title>
    <link rel="stylesheet" href="{% static 'pools/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'pools/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>
  <body>

    <!--=======Scroll to top button=======-->
    <div class="scrollToTop-btn flex-center">
      <i class="fas fa-arrow-up"></i>
    </div>

    <!--=======Light/Dark theme button=======-->
    <div class="theme-btn flex-center">
      <i class="fas fa-moon"></i>
      <i class="fas fa-sun"></i>
    </div>



    <!--=======Home section=======-->

    <!--=======About section=======-->


    <!--=======Skills section=======-->


    <!--=======Services section=======-->


    <!--=======Portfolio section=======-->

      <!--=======Get-in-touct=======-->

      <!--=======Our Clients=======-->
      <div class="our-client sub-section">
        <div class="container flex-center">
          <h1 class="section-title-01">Персонал</h1>
          <h2 class="section-title-02">Персонал</h2>
          <div class="content">
               <div class="swiper client-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide flex-center">
                  <div class="client-img">
                    <img src="{% static 'pools/img/pers1.png' %}" alt="">
                  </div>
                  <div class="clietn-details">
                    <p>Советник налоговой службы II ранга</p>
                    <h3>Варламова Виктория</h3>

                  </div>
                </div>
                <div class="swiper-slide flex-center">
                  <div class="client-img">
                    <img src="{% static 'pools/img/pers2.png' %}" alt="">
                  </div>
                  <div class="clietn-details">
                    <p>Ведущий аудитор</p>
                    <h3>Никитина Елена</h3>

                  </div>
                </div>
                <div class="swiper-slide flex-center">
                  <div class="client-img">
                    <img src="{% static 'pools/img/pers3.png' %}" alt="">
                  </div>
                  <div class="clietn-details">
                    <p>Старший юрист</p>
                    <h3>Худяков Сергей</h3>

                  </div>
                </div>
              </div>
              <div class="swiper-button-next"><i class="fas fa-chevron-right"></i></div>
              <div class="swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!--=======Contact section=======-->

    <!--=======Footer=======-->

    <!--=======External scripts=======-->
    <script src="{% static 'pools/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'pools/js/main.js' %}"></script>

  </body>
</html>

